.game-info{
	display: table;
	position: relative;
	width: 1290px;
	margin: 0 auto;
	margin-top: 20px;
	@media @underDesktopMq {
		width: 980px;
	}
	&__container{
		display: table-row;
		.game-info__left,
		.game-info__right,
		{
			display: table-cell;
			width: 33.3%;
			vertical-align: middle;
			@media @underDesktopMq {
				width: 30%;
			}
		}
		.game-info__center{
			display: table-cell;
			width: 33.3%;
			vertical-align: middle;
			@media @underDesktopMq {
				width: 40%;
			}
		}
	}
	&__left{
		position: relative;
	}
	&__information{
		margin-top: 4px;
		width: 264px;
		position: relative;
		display: inline-block;
		&_right{
			padding-right: 37px;
			text-align: right;
			@media @underDesktopMq {
				padding-right: 50px;
			}
		}
		&_left{
			padding-left: 37px;
			text-align: left;
			@media @underDesktopMq {
				padding-left: 50px;
			}
		}
		@media @underDesktopMq {
			display: block;
			float: none;
			width: 100%;
		}
	}
	&__center{
		position: relative;
		text-align: center;
	}
	&__right{
		position: relative;
		padding-left: 160px;
		@media @underDesktopMq {
			padding-left: 0;
		}
	}
}
.game-statistic{
	position: relative;
	width: 1380px;
	margin: 0 auto;
	@media @underDesktopMq {
		width: 960px;
	}
	&__line-container{
		position: relative;
		width: 1360px;
		height: 33px;
		margin: 0 auto;

		@media @underDesktopMq {
			width: 960px;
		}
	}
	&__line{
		width: 1330px;
		margin: 0 auto;
		position: relative;
		border-bottom: 2px solid rgba(255,255,255, 0.3);
		margin-top: 58px;
		&.m-online{
			&:after{
				border: none;
			}
		}
		@media @underDesktopMq {
			width: 940px;
		}
		&:before{
			content: '';
			position: absolute;
			width: 4px;
			height: 4px;
			border: 2px solid rgba(255,255,255, 1);
			background: rgba(255,255,255, 1);
			.border-radius(50%);
			top: -3px;
			left: -4px;
		}
		&:after{
			content: '';
			position: absolute;
			width: 4px;
			height: 4px;
			border: 2px solid rgba(255,255,255, 0.3);
			.border-radius(50%);
			top: -3px;
			right: -18px;
		}
	}
	&__from{
		position: absolute;
		display: inline-block;
		top: -36px;
		left: 0;
	}
	&__to{
		position: absolute;
		display: inline-block;
		top: -36px;
		margin-left: -78px;
		left: 100%;
		.icon-star{
			position: absolute;
			top:25px;
			right:-18px;
		}
		&.m-active{
			.icon-star{
				right: auto;
				left:50%;
				margin-left: -10px;
			}
		}
		&.m-disactive{
			color: transparent;
			.icon_rub-small{
				opacity: 0;
			}
		}
	}
	&__total{
		position: absolute;
		display: inline-block;
		top: -36px;
		left: 0;
		width: 160px;
		text-align: center;
		margin-left: -80px;
		.transition(all 2s);
		opacity: 0;
	}
	&__colored-container{
		position: relative;
		border: 10px solid rgba(255, 255, 255, 0.5);
	}
	&__colored-line{
		position: relative;
		height: 20px;
		background: @White;
	}
	&__xDay{
		position: absolute;
		right: -10px;
		top:-11px;
		@media @underDesktopMq {
			right: -16px;
		}
	}
	&__colored-list{
		padding: 0;
		margin: 0;
		position: relative;
		height: 20px;
	}
	&__colored-item{
		float: left;
		display: inline-block;
		margin: 0;
		height: 20px;
		width: 0;
		position: relative;
		.transition(width 2s);
		&_green{
			background: @Green;
		}
		&_lightblue{
			background: @LightBlue;
		}
		&_blue{
			background: @Blue;
		}
		&_torquous{
			background: @Torquous;
		}
		&_orange{
			background: @Orange;
		}
		&_red{
			background: @LightRed;
		}
		&:hover{
			.dropdown-window{
				opacity: 1;
				top: -180px;
				max-height: 200px;
				padding: 40px;
				overflow: visible;
			}
		}
	}
	&__overline{
		position: absolute;
		top: 0;
		left: 0;
		width: 0%;
		height: 2px;
		background: #fff;
		.transition(width 2s);
		&:before{
			position: absolute;
			top: -3px;
			content: '';
			position: absolute;
			right: -4px;
			width: 4px;
			height: 4px;
			border: 2px solid transparent;
			background: transparent;
			.border-radius(50%);
		}
		&.m-active{
			&:before{
				border: 2px solid #fff;
				background: #fff;
			}
		}
	}
	&__dateStart{
		position: absolute;
		display: inline-block;
		top: 9px;
		width: 80px;
		margin-left: -40px;
		left: 10%;
		text-align: center;
		&.m-active{
			&:before{
				content: '';
				position: absolute;
				left: 50%;
				top: -9px;
				border: 10px solid transparent;
				border-top: 10px solid #fff;
				margin-left: -10px;
			}
		}
	}
	&__dateEnd{
		position: absolute;
		display: inline-block;
		top: 9px;
		width: 80px;
		margin-right: -40px;
		right: 10%;
		text-align: center;
		&.m-active{
			&:before{		
				content: '';
				position: absolute;
				left: 50%;
				top: -9px;
				border: 10px solid transparent;
				border-top: 10px solid #fff;
				margin-left: -10px;
				opacity: 0.3;
			}
		}
	}
}
.dropdown-window{
	opacity: 0;
	position: absolute;
	width: 240px;
	left: 50%;
	margin-left: -120px;
	top: -160px;
	max-height: 0;
	padding: 0 40px;
	overflow: hidden;
	.transition(all @AnimDefault);
	&:before{
		content: '';
		position: absolute;
		bottom: -9px;
		left: 50%;
		margin-left: -10px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width:  10px 10px 0 10px;
	}
	&_green{
		background: @Green;
		&:before{
			border-color: @Green transparent transparent transparent;
		}
	}
	&_lightblue{
		background: @LightBlue;
		&:before{
			border-color: @LightBlue transparent transparent transparent;
		}
	}
	&_blue{
		background: @Blue;
		&:before{
			border-color: @Blue transparent transparent transparent;
		}
	}
	&_torquous{
		background: @Torquous;
		&:before{
			border-color: @Torquous transparent transparent transparent;
		}
	}
	&_orange{
		background: @Orange;
		&:before{
			border-color: @Orange transparent transparent transparent;
		}
	}
	&_red{
		background: @LightRed;
		&:before{
			border-color: @LightRed transparent transparent transparent;
		}
	}
}